<% @bands.each do |band| %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'><%= band.id %></div>
    </div>
    <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
    <div class='product-body'>
      <h3><%= link_to band.band_name, band_path(band) %></h3>
      <p><%= band.rehearsal_address %></p>
      <p><%= band.set_time %></p>
      <p><%= band.members_number %></p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
<% end %>
