<% @places.each do |place| %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'><%= place.id %></div>
    </div>
    <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
    <div class='product-body'>
      <h3><%= link_to place.place_name, place_path(place) %></h3>
      <p><%= place.place_address %></p>
      <p><%= place.place_category %></p>
      <p><%= place.capacity %></p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
<% end %>
