<% content_for :title do %>
  <%= @place.place_name %>
<% end %>

<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h1><%= @place.place_name %></h1>
        <% avatar_url = @place.user.facebook_picture_url || "http://placehold.it/30x30"  %>
        <%= image_tag avatar_url, class: 'avatar' %>
      <div class="media-user"><%= @place.user&.first_name %> <%= @place.user&.last_name.try(:[], 0) %>
      </div>
    </div>

    <div class="media-section">
      <%= cl_image_tag @place.place_photo, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>
</div>
  <%= link_to "Delete", place_path(@place), :confirm => "Are you sure?", :method => :delete %>
</div>
